@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

main {
  @apply mx-8 my-4
}

.login-form {
  @apply px-0 py-8 md:px-8 rounded-md bg-gray-200 text-black;
}

.login-form-grid > * {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.form-button {
  @apply bg-gray-100 cursor-pointer px-2 py-4 font-semibold flex flex-col items-center;
}

.loading-icon {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotateZ(0deg) }
  100% { transform: rotateZ(360deg) }
}

.navbar {
  @apply flex p-4 md:p-8;
  
  background: linear-gradient(-45deg, #00c951, #28a745, #6bbf59);
  background-size: 200% 200%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.error-msg {
  @apply text-center text-sm font-thin italic text-white bg-red-500 p-2 rounded-2xl border-2 border-white;
}

.empty-search {
  @apply text-center text-sm font-thin italic text-gray-500 bg-white py-2 rounded-2xl;
}

.section-title {
  @apply text-3xl font-semibold border-b-2 border-gray-400 mb-4
}

.sub-title {
  @apply text-xl font-semibold w-3/4 border-b-2 mb-4 border-gray-400
}

.pill-shape {
  @apply p-2 border-2 rounded-2xl font-semibold text-white
}

.workout-card {
  @apply m-4 p-8 bg-gray-200 border-2 border-gray-300 rounded-md
}

.exercise-specific-card {
  @apply flex relative bg-gray-300 border-2 border-gray-100 p-4 gap-4 rounded-2xl shadow-xl max-w-full

  flex-col items-center

  md:flex-row md:items-start
}

.exercise-specific-card >* img {
  @apply mx-auto
}

.exercise-specific-card >* h3 {
  @apply text-center

  md:text-start 
}

.exercise-load-grid > *{
  @apply grid grid-cols-4 md:grid-cols-[1fr_1fr_2fr_2fr];
}

.exercise-load-grid > * > * {
  text-align: center;
}

.exercise-history-grid {
  @apply grid grid-cols-4
}

.exercise-history-grid > * {
  @apply self-center justify-self-center text-center
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=number] {
  text-align: center;
}

.add-icon {
  @apply text-green-500 scale-125 cursor-pointer;
}

.add-icon > path {
  @apply stroke-60;
}

.remove-icon {
  @apply text-red-500 scale-125 cursor-pointer;
}

.remove-icon > path {
  @apply stroke-60;
}

.exercise-instructions-card {
  @apply bg-gray-100 p-8 rounded-4xl shadow-2xl
  
  md:grid md:[grid-template-columns:auto_1fr]
}

.exercise-instructions-card > img {
  @apply mb-4
  
  md:mx-6 md:mb-0
}

.exercise-page-card-container {
  @apply flex flex-col my-4 items-center gap-1
}

.exercise-page-card {
  @apply cursor-pointer border-2 border-gray-400

  /* for wider screens */
  md:grid md:grid-cols-2
}

.exercise-page-card > img{
  @apply mx-auto
}

.exercise-page-card > h3{
  @apply font-semibold p-2 text-center text-lg w-full

  md:text-start
}